<div #header class="header-wrapper">
	<div class="title">YLists</div>
	<kendo-avatar #userButton class="avatar" (click)="toggleUserActionsPopup()" [shape]="'circle'" [icon]="'user'"></kendo-avatar>
</div>

<kendo-popup
	#userActionsPopup
	*ngIf="showUserActionsPopup"
	[anchor]="{ nativeElement: header }"
	(anchorViewportLeave)="showUserActionsPopup = false"
	[anchorAlign]="anchorAlign"
	[popupAlign]="popupAlign"
>
	<ul class="user-actions-list">
		<ng-container *ngFor="let action of userActionsList">
			<li *ngIf="action.isVisible()"
				(click)="action.onClick()"
				class="user-actions-list-item"
			>
				{{ action.text }}
			</li>
		</ng-container>
	</ul>
</kendo-popup>