<!-- <kendo-combobox
	#combobox
	[(ngModel)]="value"
	(valueChange)="onChange($event)"
	[data]="items$ | async"
	valueField="value"
	textField="text"
	[valuePrimitive]="true"
	[filterable]="true"
	[virtual]="virtual"
	[loading]="isLoading"
	[disabled]="disabled"
	class="w-100"
>
	<ng-template kendoComboBoxHeaderTemplate>
		<button kendoButton (click)="showAddItemModal()" icon="plus-outline">Добавить</button>
	</ng-template>
	<ng-template kendoComboBoxItemTemplate let-dataItem>
		<div class="combobox-item">
			<span>{{ dataItem.text }}</span>
			<button kendoButton (click)="showDeleteItemModal(dataItem)" icon="delete" look="outline"></button>
		</div>
	</ng-template>
</kendo-combobox> -->