<!-- <kendo-multiselect
	#multiselect
	[(ngModel)]="value"
	(valueChange)="onChange($event)"
	[data]="items$ | async"
	valueField="value"
	textField="text"
	[valuePrimitive]="true"
	[filterable]="true"
	[virtual]="virtual"
	[loading]="isLoading"
	[disabled]="disabled"
	class="w-100"
>
	<ng-template kendoMultiSelectHeaderTemplate let-dataItem>
		<button kendoButton (click)="showAddItemModal()" icon="plus-outline">Добавить</button>
	</ng-template>
	<ng-template kendoMultiSelectItemTemplate let-dataItem>
		<div class="multiselect-item">
			<span>{{ dataItem.text }}</span>
			<button kendoButton (click)="showDeleteItemModal(dataItem)" icon="delete" look="outline"></button>
		</div>
	</ng-template>
</kendo-multiselect> -->