<!-- <ul *ngIf="categories$ | async; let categories" class="category-list">
	<li *ngFor="let category of categories" (click)="routeToCategory(category.id)" class="category-list-item">
										<div class="category-covers">
											<app-film-cover *ngFor="let cover of category.filmCovers" [imageSrc]="cover" iconSize="medium" class="category-film-cover"></app-film-cover>
										</div>
		<kendo-icon name="folder" size="xlarge" themeColor="primary" style="align-self: center; padding: 20px 0;"></kendo-icon>
		<h3 class="category-title">
			<span>{{category.name}}</span>
		</h3>
	</li>
</ul>
<ul class="film-list">
	<li *ngFor="let film of (films$ | async)" (click)="routeToFilm(film.id)" class="film-list-item">
		<app-film-cover [imageSrc]="film.cover" [isViewed]="film.isViewed" class="film-cover"></app-film-cover>
		<h3 class="film-title">
			<span>{{film.name}}</span>
		</h3>
	</li>
</ul> -->