<!-- <kendo-multiselecttree
	#multiselecttree
	[value]="value"
	[dataItems]="dataItems"
	(valueChange)="onChange($event)"
	kendoMultiSelectTreeExpandable
	[kendoMultiSelectTreeHierarchyBinding]="items$ | async"
	valueField="value"
	textField="text"
	childrenField="children"
	[expandedKeys]="['0']"
	[valuePrimitive]="true"
	[checkableSettings]="checkableSettings"
	[loading]="isLoading"
	[popupSettings]="{ popupClass: 'multiselect-tree-popup' }"
	[disabled]="disabled"
	class="w-100"
>
	<ng-template kendoMultiSelectTreeHeaderTemplate>
		<button kendoButton (click)="showAddItemModal()" icon="plus-outline">Добавить</button>
	</ng-template>
	<ng-template kendoMultiSelectTreeNodeTemplate let-dataItem>
		<div class="multiselect-tree-item w-100">
			<span>{{ dataItem.text }}</span>
			<div class="item-actions">
				<button kendoButton (click)="showAddItemModal(dataItem)" icon="plus-outline" look="outline"></button>
				<button kendoButton (click)="showDeleteTreeItemModal(dataItem)" icon="delete" look="outline"></button>
			</div>
		</div>
	</ng-template>
</kendo-multiselecttree> -->