<kendo-grid [data]="models$ | async" [loading]="isLoading" class="models-grid">
	<ng-template kendoGridToolbarTemplate>
		<button kendoButton (click)="showTrainModal()" class="action-button">Train</button>
	</ng-template>

	<kendo-grid-column field="name" title="Name"></kendo-grid-column>
	<kendo-grid-column field="entityTemplate.name" title="Template"></kendo-grid-column>
	<kendo-grid-column field="language" title="Language"></kendo-grid-column>
	<kendo-grid-column field="timestamp" title="Timestamp"></kendo-grid-column>

	<kendo-grid-command-column title="" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem>
			<button kendoButton (click)="tuneModel(dataItem.id)" class="action-button">Tune</button>
			<button kendoButton (clock)="deleteModel(dataItem.id)" class="action-button">Delete</button>
		</ng-template>
    </kendo-grid-command-column>
</kendo-grid>