<!-- <div class="cover-wrapper">
	<div class="cover" [style.background-image]="coverBackgroundStyle">
		<kendo-icon *ngIf="isUnabled" name="upload" [size]="iconSize" themeColor="primary" class="center-icon"></kendo-icon>
		<kendo-icon *ngIf="!imageSrc && !isUnabled" name="image" [size]="iconSize" themeColor="primary" [style.opacity]="isViewed ? '0.6' : '1'" class="center-icon"></kendo-icon>
		<kendo-icon *ngIf="isViewed && !isUnabled" name="checkbox-checked" [size]="iconSize" themeColor="success" class="is-viewed-icon"></kendo-icon>
	</div>
</div> -->