<!-- <div class="filters">
	<app-filters [(filters)]="filters" [filtersChanged]="filtersChanged$"></app-filters>
</div>
<div class="action-button-list">
	<button kendoButton *ngIf="filters.categoryId" (click)="back()" icon="undo" class="action-button">Назад</button>
	<button kendoButton (click)="addCategory()" icon="plus" class="action-button right">Добавить категорию</button>
	<button kendoButton (click)="deleteCategory()" icon="delete" class="action-button">Удалить категорию</button>
</div>
<ng-container *ngIf="category$ | async; let category">
	<h2 *ngIf="category.name" class="category-name">{{ category.name }}</h2>
</ng-container>
<app-category-film-list [categories$]="categories$" [films$]="films$"></app-category-film-list> -->