$color-black-01-depth: #1e1e1e;
$color-black-02-depth: #232323;
$color-black-03-depth: #252525;
$color-black-04-depth: #272727;
$color-black-06-depth: #2c2c2c;
$color-black-08-depth: #2f2f2f;
$color-black-12-depth: #333333;
$color-black-16-depth: #353535;
$color-black-24-depth: #383838;

$color-white-01-depth: #d9d9d9;
$color-white-02-depth: #dcdcdc;
$color-white-03-depth: #dddddd;
$color-white-04-depth: #e2e2e2;
$color-white-06-depth: #e5e5e5;
$color-white-08-depth: #eaeaea;
$color-white-12-depth: #ececec;
$color-white-16-depth: #eeeeee;
$color-white-24-depth: #f3f3f3;

$color-primary: #7E57C2;