<!-- <div class="film-card-container">
	<form [formGroup]="filmForm" class="film-card-form">
		<header class="film-card-header">
			<div class="film-name">
				<h2 *ngIf="!isEdit">{{ filmForm.get('name').value }}</h2>
				<kendo-formfield *ngIf="isEdit">
					<kendo-textbox
						formControlName="name"
						placeholder="Название"
						class="w-100"
					></kendo-textbox>
					<kendo-formerror *ngIf="isSubmitted && filmForm.controls.name.errors?.required">Заполните название</kendo-formerror>
				</kendo-formfield>
			</div>
			<div class="card-action-buttons">
				<button kendoButton *ngIf="isEdit" (click)="saveCard()" icon="save"></button>
				<button kendoButton *ngIf="isEdit" (click)="deleteCard()" icon="delete"></button>
				<button kendoButton *ngIf="!isNew" [toggleable]="true" [(selected)]="isEdit" icon="edit"></button>
				<button kendoButton *ngIf="!isEdit" (click)="closeCard()" icon="close"></button>
			</div>
		</header>
		<div class="film-cover">
			<app-image-select formControlName="cover" [isViewed]="filmForm.get('isViewed').value"></app-image-select>
		</div>
		<div class="film-about">
			<header><h3>О фильме</h3></header>

			<kendo-formfield class="about-item">
				<kendo-label [for]="filmYear" text="Год производства"></kendo-label>
				<kendo-datepicker
					#filmYear
					formControlName="year"
					bottomView="decade"
					topView="decade"
					format="yyyy"
					placeholder=""
					class="w-100"
				></kendo-datepicker>
			</kendo-formfield>

			<kendo-formfield class="about-item">
				<kendo-label [for]="filmCountry" text="Страна"></kendo-label>
				<app-actionable-combobox
					#filmCountry
					formControlName="country"
					entity="country"
				></app-actionable-combobox>
			</kendo-formfield>

			<kendo-formfield class="about-item">
				<kendo-label [for]="filmGenres" text="Жанр"></kendo-label>
				<app-actionable-multiselect
					#filmGenres
					formControlName="genres"
					entity="genre"
				></app-actionable-multiselect>
			</kendo-formfield>

			<kendo-formfield class="about-item">
				<kendo-label [for]="filmProducer" text="Режиссер"></kendo-label>
				<app-actionable-combobox
					#filmProducer
					formControlName="producer"
					entity="producer"
				></app-actionable-combobox>
			</kendo-formfield>

			<kendo-formfield class="about-item">
				<kendo-label [for]="filmRating" text="Рейтинг"></kendo-label>
				<kendo-numerictextbox
					#filmRating
					formControlName="rating"
					format="n1"
					[min]="0"
					[max]="10"
					[step]="0.1"
					class="w-100"
				></kendo-numerictextbox>
			</kendo-formfield>

			<kendo-formfield *ngIf="isEdit" class="about-item">
				<kendo-label [for]="filmIsViewed" text="Просмотрено"></kendo-label>
				<kendo-switch
					#filmIsViewed
					formControlName="isViewed"
					onLabel="Да"
					offLabel="Нет"
				></kendo-switch>
			</kendo-formfield>
		</div>
		<div class="film-description">
			<header><h3>Описание</h3></header>
			<kendo-formfield>
				<kendo-textarea
					formControlName="description"
					resizable="auto"
					class="w-100"
				></kendo-textarea>
			</kendo-formfield>
		</div>
		<div class="film-categories">
			<header><h3>Категории</h3></header>
			<kendo-formfield>
				<app-actionable-multiselect-tree
					formControlName="categories"
					entity="category"
				></app-actionable-multiselect-tree>
			</kendo-formfield>
		</div>
	</form>
</div> -->