<div class="action-button-list">
	<button *ngIf="!sharedAccessId" kendoButton (click)="share()" icon="share" class="action-button">Share</button>
	<button *ngIf="!sharedAccessId" kendoButton (click)="addEntity()" icon="plus" class="action-button">Add Entity</button>
	<button *ngIf="!sharedAccessId" kendoButton (click)="showMultiCreationModal()" icon="plus" class="action-button">Multiple Creation</button>
</div>

<ul *ngIf="categories$ | async; let categories" class="category-list">
	<li *ngFor="let category of categories" (click)="routeToCategory(category.id)" class="category-list-item">
		<kendo-icon name="folder" size="xlarge" themeColor="primary" style="align-self: center; padding: 20px 0;"></kendo-icon>
		<h3 class="category-title">
			<span>{{category.name}}</span>
		</h3>
	</li>
</ul>

<ul *ngIf="entities$ | async; let entities" class="entity-list">
	<li *ngFor="let entity of entities" (click)="routeToEntity(entity.id)" class="entity-list-item">
		<kendo-icon name="file-ascx" size="xlarge" themeColor="primary" style="align-self: center; padding: 20px 0;"></kendo-icon>
		<h3 class="entity-title">
			<span>{{entity.name}}</span>
		</h3>
	</li>
</ul>