@import "../../../assets/styles/variables.scss";

.nav-menu {
	padding-top: 90px;
	background-color: $color-black-16-depth;
}

.nav-item-icon {
	height: 80px;
	width: 80px;
	margin: 0;
	font-size: 40px;
}